{% extends 'phones/layout.html' %}

{% block content %}
<h1>{{title}}</h1>
    <form action="{% url 'add_brand' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2 mb-5 w-100">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="d-flex w-100">
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>
                <div class="form-input">{{ f }}</div> 
            </div>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-dark w-50 mt-4">Добавити</button>
    </form>
{% endblock %}
